@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

.sponsor {
  border-radius: 10%;
  border-width: 2px;
  border-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsorLogo {
  width: 14vmax;
  border-radius: 10%;
  
  margin-top: 2vmax;
}

.Ftitle {
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 5vmax;
  letter-spacing: 0.5vmax;
  margin-top: -60px;
  padding-left: 10px;
  box-shadow: #000;
  margin-top: 10vmax;
}

.Ftitle span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vmax;
}

.imageLink {
  margin: 5vmax;
}

@media (max-width: 768px) {
  
  
  .sponsorLogo {
    width: 13vmax;
  }
  
  .Ftitle {
    font-size: 5vmax;
    margin-top: 0;
    margin-bottom: 3vmax;
    
  }

  .images{
    margin-left: 2vmax;
  }
  
  .imageLink {
    margin: 1.5vmax;
    margin-bottom: 9vmax;
  }
}
