@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "lato, sans-serif";
  color: aliceblue;
}

.Footerleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.FooterTitle {
  font-family: "lato", sans-serif;
  text-align: center;
  margin-bottom: 2vmax;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  text-decoration: none;
  color: aliceblue;
  padding: 1vmax;
  font-weight: 300;
  text-align: left;
  font-size: 1.3vmax;
}

.content:hover {
  color: rgba(37, 159, 199, 0.945);
}

.Social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list1 {
  padding: 1vmax;
  margin: 0.5vmax;
  transition: 3s;
}

svg:hover path {
  fill: rgba(37, 159, 199, 0.945);
}

/* copyright */
.CopyrightText {
  font-size: 1.3vmax;
  font-weight: 300;
  text-align: center;
  color: rgb(194, 201, 207);
  margin-bottom: 2vmax;
  margin-top: 1vmax;
}

hr{
  border: 0;
  height: 1px;
  background-color: rgb(147, 155, 162);
  width: 100vmax;
  margin-bottom: 2vmax;
}



@media screen and (max-width: 768px) {
  .Footer {
    flex-direction: column;
    justify-content: space-between;
  }
  .Footerleft {

  }

  .Social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vmax;
  }

  .list {
    flex-direction: row;
    text-align: center;
  }
  .content {
    font-size: 1.65vmax;
  }
  .Social {
    flex-direction: row;
  }
  .list1 {
    margin: 0.5vmax;
    transition: 3s;
  }

  .T1 {
    font-size: 3.15vmax;
    margin-top: 3vmax;
  }

  .T2 {
    display: none;
  }

  hr{
    width: 100%;
    margin-left: 1vmax;
  }

  svg{
    width: 3.5vmax;
  }

  .cicon{
    width: 2.5vmax;
  }
}
